body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cascading-right {
  margin-left: -50px;
}

@media (max-width: 900px) {
  .cascading-right {
    margin-left: 0;
  }
}
